img {
  width: 100%;
  display: block;
  height: 100%;
}
a {
  text-decoration: none;
  color: currentColor;
}

.search-form {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: rgb(128, 5, 228);
  text-align: center;
  width: 100%;
  z-index: 99;
}

.search-form button {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

.search-form input {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  &:focus {
    border-color: #333;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 80px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.photo-card {
  margin: 15px;
  width: calc((100% - 15px * 8) / 4);
  border-radius: 5px;
  transition: all 250ms;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 1px solid rgba(238, 238, 238, 0.788);
  border-bottom: 1px solid rgba(238, 238, 238, 0.788);
  border-right: 1px solid rgba(238, 238, 238, 0.788);
  &:hover,
  &:focus {
    box-shadow: 12px 16px 21px 0px rgba(64, 64, 64, 0.68);

    transform: translate();
  }
  img {
    height: 240px;
  }
}

.info {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.info-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}

.load-more {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 70px;
  background-color: rgb(128, 5, 228);
  color: aliceblue;
}

.is-hidden {
  display: none;
}
